{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        /* Hide the theme toggle button */
        button[title="Toggle theme"] {
        display: none !important;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_theme.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Force light theme
            document.documentElement.dataset.theme = "light";
            localStorage.setItem("django.admin.colorTheme", "light");
        });
    </script>
        
{% endblock %}

{% block branding %}
<div id="site-name" style="color: white; font-size: 24px;">
    Diamond System
</div>
{% endblock %}
